@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

nav{
    height: 10vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px 0px 20px;
    background-color: white;
    color: #7510F7;
    font-weight: 300;
    font-family: 'Inconsolata';
}

.logo{
    font-size: 40px;
}

nav .menu ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style: none;
}

li, a{
    text-decoration: none;
}

nav .menu ul li{
    margin-left: 20px;
}

nav .menu ul li:nth-child(2){
    padding: 5px;
    border-width: 2px;
    border-radius: 20px;
    border-style: solid;
    border-color: #7510F7;
}

nav .menu ul li:nth-child(2) a{  
    padding: 5px 10px 5px 10px;
}

nav .menu ul li:nth-child(2):hover{
    transition: 0.5s;
    background-color: #7510F7; 
}

nav .menu ul li:nth-child(2) a:hover{
    transition: 0.5s;
    color: white;
}






/* -----------------SECTION   ---------- */
section {
    background-color: white;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    font-family: 'Inconsolata', monospace;
}
section .texto{
    margin-top: 80px;
    position: relative;
    height: 20%;
}

section .texto h3{
    font-size: 45px;
    text-align: center;
}

section .texto h6{
    margin-top: 10px;
    text-align: center;
    font-size: 18px;
    font-weight: 300;
}

section .texto h6 span{
    font-weight: 600;
}

section .img-avatar{
    margin-top: 30px;
    height: 30%;

  
}

section .img-prog {
    /* height: 200px;
    width: 40%;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto; */
    
    -webkit-box-flex: 1;
    flex-grow: 1;
    margin: 0 auto;
    position: relative;
    width: auto;
    margin-top: 100px;
}

img{
    height: auto;
    max-width: 100%;
}

/* --------------------------------------------- */




.texto-presentacion{
    position: relative;
    height: 80vh;
    width: 100%;
    color: white;
    background-color: #7510F7; 
    font-family: inconsolata ;
    z-index: 1;
}

.texto-presentacion::before{
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background:linear-gradient(to top,#fff,#7510F7 );
    border: none;
    z-index: 1000;
}

.texto-presentacion .texto-contenido{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:70%;
    width: 100%;
}

.texto-contenido h5{
    padding: 15px;
    font-size: 40px;
 
}

.texto-contenido p{
    margin-top: 20px;
    padding-left: 50px;
    padding-right: 50px;
    font-size: 20px;
}




/* -------------------------------------- */

.hab-cuadro{
    font-family: inconsolata ;
    background-color: white;
    width: 70%;
    height: 800px;
    display: grid;
    grid-template-rows: 20% 80%;
    grid-template-columns: repeat(3, 1fr);
 
    position: relative;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 2;
    top: -250px;

    border-radius: 20px;
    
}

.hab-cuadro .titulo{
    grid-column: 1/-1;
    grid-row: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;

  
    border-bottom: solid ;
    border-width: 0.1px;
    border-color: grey;
}

.hab-cuadro .hab{   
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 20px;
}

.hab:nth-child(3) {
    border-right: solid ;
    border-left: solid ;
    border-width: 0.1px;
    border-color: grey;
    border-radius: 0;
}

.hab i{
    padding: 10px;
    font-size: 80px;
    margin-bottom: 20px;
}

.hab-sub{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.hab-sub h5{  
    font-size: 25px;
}

.hab-list{
    width: 100%;
    height: 50%;
    padding: 20px;
    
    
}

.hab-list p{
   font-size: 20px;
   text-transform: uppercase;
   font-weight: 600;
   margin-bottom: 15px;
   text-align: center;
}

.hab-list ul{
    list-style: none;
}

.hab-list ul li{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hab-list ul li i{
    font-size: 40px;
    margin-bottom: 5px;
}

.java{
    font-weight: 600;
}





/* ---------------PROYECTOS---------------------------- */
.contenedor{
    DI
}

.proyectos{
    position: relative;
    top: -200px;

    width: auto;
    padding: 20px; 
    font-family: 'Inconsolata', monospace;
}

.proyectos-conteiner{
    width: auto; 
    height: 100%;
    position: relative;

}

.proyectos-conteiner h4{
    font-size: 24px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20%;
   
}

.proyectos-cards{
    height: 80%;
    width: auto;
    display: flex;
    justify-content: center;
    position: relative;
    padding: 40px;
    flex-wrap: wrap;
    cursor: pointer ;

}

.card{
    margin: 10px;
    background-color: skyblue;
    width: 500px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    position: relative;

}

.card::before{
    content: '';
    width: 500px;
    height: 300px;
    opacity: 0.7;
    position: absolute;
  
    background: rgb(48,136,243);
    background: linear-gradient(142deg, rgba(48,136,243,1) 0%, rgba(112,49,172,1) 86%);
}

.card h5{
    position: relative;
    color: white;

}

.card:nth-child(1){
    background: url(recursos/aim.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.card:nth-child(2){
    background: url(recursos/cronometro.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}



/* ---------FOOTER-------------------------------------------------------------- */
footer{
    position: relative;
    min-height: 30vh;
    background: #7510F7 ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer::before{
    content: '';
    position: absolute;
    top: -99px;
    width: 100%;
    height: 100px;
    background:linear-gradient(to bottom,#fff,#7510F7 );
    border: none;
    margin: none;
    z-index: 1000;
}

.redes-conteiner{
    position: relative;
    width: 100%;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.redes-conteiner ul{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.redes-conteiner ul li{
    margin: 5px;
    border: #fff solid;
    border-radius: 50%;
    height: 60px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.redes-conteiner ul li i{
    font-size: 30px;
    color: #fff;
}

.redes-txt{
    display: flex;
    margin-bottom: 25px;
    font-family: inconsolata ;
}

.redes-txt p{
    color: #fff;
}








